[submodule "Project/glfw"]
	path = Project/glfw
	url = https://github.com/glfw/glfw.git
[submodule "Project/libraries/glfw"]
	path = Project/libraries/glfw
	url = https://github.com/glfw/glfw.git
[submodule "Project/libraries/spdlog"]
	path = Project/libraries/spdlog
	url = https://github.com/gabime/spdlog.git
[submodule "Project/libraries/luajit"]
	path = Project/libraries/luajit
	url = https://luajit.org/git/luajit.git
[submodule "Project/libraries/debugger.lua"]
	path = Project/libraries/debugger.lua
	url = https://github.com/slembcke/debugger.lua.git
[submodule "Project/Sol2-User-Type-Generator"]
	path = Project/Sol2-User-Type-Generator
	url = https://github.com/shachar1236/Sol2-User-Type-Generator.git
[submodule "Project/libraries/sol2"]
	path = Project/libraries/sol2
	url = https://github.com/ThePhD/sol2.git
